  // copied from existing files
$color-brown-gray: #a1a1a1;
$color-blue: #007bff;

$color-bubble: #eee;
$color-bubble-editing: #eef;
$color-editing-border: $color-blue;

.message-header-photo .account-photo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: block;
}

.message-author {
  display: inline;
  margin-left: 6px;
  font-weight: 700;
}

.message-main .date-time,
.message-edited {
  margin-left: 6px;
  display: inline;
  font-size: 12px;
  line-height: inherit;
  font-weight: 400;
}

.message-content {
  margin-top: 3px;
  margin-left: 6px;
  position: relative;
  border: 1px $color-bubble solid; 
  cursor: default;
}

.message-content.allow-edit:hover,
.message-content.allow-delete:hover {
  background-color: $color-bubble-editing !important;

  .edit-message-buttons-outer {
    display: flex;
  }
}

.message-outer.message-editing .message-content {

  background-color: $color-bubble-editing !important;

  // Good to 'fake' the border, so there is no 1px jump in size when changing 
  // from editing to non-editing
  border-color: $color-editing-border;

  &:hover .edit-message-buttons-outer {
    display: none;
  }
}


.message-outer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 18px;
}

.messages-text-area {
  width: 100%;
  height: 78px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: $color-bubble;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  padding: 10px;
  letter-spacing: normal;

  // Good to 'fake' the border, so there is no 1px jump in size when changing 
  // from editing to non-editing
  border: 1px $color-bubble solid; 
  &.messages-text-area-editing {
    border-color: $color-editing-border
  }

  &:focus {
    outline: none
  }
}

.messages-view-button {
  display: block;
  height: 21px;
  line-height: 12px;
  font-size: 12px;
  padding: 4px;
  padding-bottom: 5px;

  &.transparent-button {
    background-color: transparent;
    border: none;
    padding: 3px;
    line-height: 18px;
    font-size: 16px;
    height: 24px;
    &:hover {
      background-color: #eee !important;
    }
  }

  i {
    line-height: 18px;
    width: 18px;
    height: 18px;
    display: block;
  }
}

.messages-view-buttons-outer {
  position: absolute;
  right: 6px;
  bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edit-message-buttons-outer {
  display: none;
  position: absolute;
  right: 3px;
  bottom: 3px;
  flex-direction: row;
  justify-content: flex-end;
}


.edit-message-button {
  &.edit-message-button-edit {
    color: $color-blue !important;
    .no-edit & {
      display: none;
    }
  }
  &.edit-message-button-delete {
    color: #666 !important;
    .no-delete & {
      display: none;
    }
  }
  background-color: transparent !important;
  border: none;
  padding: 4px;
  line-height: 16px;
  height: 24px;
  &:hover {
    background-color: #eee !important;
  }

  i {
    line-height: 16px;
    width: 16px;
    height: 16px;
    display: block;
  }
}
